.text_field{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#000066;
width:253px;
}

.displayCourses thead tr td{
color:#0000CC;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
text-align:center;
border:2px solid;
border-color:#000099;
width:auto;
}

.displayCourses tbody tr td{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
text-align:center;
color:#000000;
border:1px solid;
border-color:#000099;
}

.tcourses{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-align:center;
border-color:#333399;
border:1px solid;
}

.tcourses thead{
background-color:#333399;
color:#FFFFFF;
}

.tcourses .even{
font-size:12px;
background-color:#99CCFF;
font-weight:bold;
color:#003399;
}

.tcourses .odd{
font-size:12px;
background-color:#6699CC;
font-weight:bold;
color:#663300;
}