@CHARSET "ISO-8859-1";
.profilehold{align:center;text-align:center;vertical-align:center;}
.hold{width:186px;height:30px;text-align:center;border: 0px;}
.profile{width:180px;height:225px;border:5px solid #E4EAEF;}
.indexCol1{align:left;vertical-align:top;}
.indexCol2{align:right;vertical-align:top;}