@CHARSET "UTF-8";
.yahooWidgetTemperature{margin-top:4px;margin-bottom:1px;height:25px;font-weight:bold;font-size:2.0em;}
.yahooWidgetCity{color:darkgrey;font-weight:bolder;text-transform: uppercase;}