/* CSS Document */

#mytable {
	width: 100%;
	padding: 0;
	margin-left:0px;
}

.chkbox{
width:5px;
}

.idcount{
width:20px;
}

.hdr{
background-color:#3366FF;
color:#000000;
font-weight:bold;
}

.alt{
	background-color:#FFCCCC;
	color: #797268;
}
caption {
	padding: 0 0 3px 0;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

#mytable th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	}

#mytable tr.noalt td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

#mytable tr.alt td {
    border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	background-color:#FFFFCC;
}

.cap{
font-weight:bold;
color:#0033CC;
font-size:12px;
text-align:center;
}