@CHARSET "ISO-8859-1";

.animationContainer {
	height: 500px;
}

.demoDiv {
	height: 500px;
	width: 100%;
	overflow: auto;
}

.savequerycol1{
	width: 90%;
	}
.savequerycol2{
	width: 10%;
	}


