@CHARSET "ISO-8859-1";


.wsContainer {
	border: 0px;
	background-image: url("/cepis/images/wsbg1grey.jpg");
	background-repeat: no-repeat;
}

.workingSet {
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	cell-padding:10px;
}

table.workingSet td { 
	padding:10px; 
}

table.wsCore td { 
	padding:2px; 
}

.wsToggle{
	vertical-align:top;
}

.wsBox{
	vertical-align:top;
}